<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="./css_lib/bootstrap.min.css">

	<script type="text/javascript" src="./js_lib/jquery.min.js"></script>
	<script type="text/javascript" src="./js_lib/bootstrap.min.js"></script>
	<script type="text/javascript" src="./js_lib/angular.min.js"></script>

	<script type="text/javascript" src="./final_adaptor.js"></script>
</head>

<body ng-app="FormApp">
<div ng-controller="FormController" style="padding: 0 40px 0 40px">
	<center><h3 style="color:#15c;">FinAL - Adaptor</h3></center>
	<center><h4 style="color:#15c;">IIT-Madras</h4></center>

	<div class="row">
		<div class="col-md-4">
		</div>
		<div class="col-md-4">
			Select Configuration: 
			<select name="cmbConfigurations" id="cmbConfigurations" ng-options="moduleType as moduleType.nickName for moduleType in configFiles" ng-model="selectedConfiguration" ng-change="fillForm()" style="width: 50%;">
			</select>
		</div>
		<div class="col-md-4">
			<span class="required_notification pull-right">* Denotes Required Field</span><br><br>
		</div>
	</div>
	<hr/>
	<div class="text-center" ng-show="showLoading" align="center" >
		<span>
			<i class="fa fa-spinner fa-spin fa-3x fa-fw" ></i>
		</span>
	</div>
	
	<form name="myForm" class="form-horizontal">
		
		<div class="form-group container-fluid">
			<div class="row" >
				<div class="col-md-5" > <!--Target db div starts-->
					<div class="row">
						<legend class="col-form-legend col-3">Target Database Configuration </legend>
					</div>
					<!-- div class="row">
						<div class="col-md-3 text-right">
							Postgres Home *
						</div>
						<div class="col-md-9">
							<input type="text" ng-model="adaptor_pg_bin_path" class="form-control" required />
							<span ng-show="myForm.pg_home.$invalid && myForm.pg_home.$touched">field required</span><br>
						</div>
					</div -->
					<div class="row">
						<div class="col-md-3 text-right">
							User Name *
						</div>
						<div class="col-md-9">
							<input type="text" ng-model="target.db_user_name" class="form-control" required/>
							<span class="help-block" ng-show="myForm.db_target_name.$invalid && myForm.db_target_name.$touched">field required</span><br>
						</div>
					</div>
					<div class="row">
						<div class="col-md-3 text-right">
							Password *
						</div>
						<div class="col-md-9">
							<input type="password" ng-model="target.db_password" class="form-control" required />
							<span ng-show="myForm.db_password.$invalid && myForm.db_password.$touched">field required</span><br>
						</div>
					</div>
					<div class="row">
						<div class="col-md-3 text-right">
							Name *
						</div>
						<div class="col-md-9">
							<input type="text" ng-model="target.db_name" class="form-control" required/>
							<span ng-show="myForm.db_name.$invalid && myForm.db_name.$touched">field required</span><br>
						</div>
					</div>
					<div class="row">
						<div class="col-md-3 text-right">
							Host Name *
						</div>
						<div class="col-md-9">
							<input type="text" ng-model="target.db_hostname" class="form-control" required/>
							<span ng-show="myForm.db_host_name.$invalid && myForm.db_host_name.$touched">field required</span><br>
						</div>
					</div>
					<div class="row">
						<div class="col-md-3 text-right">
							Port *
						</div>
						<div class="col-md-9">
							<input type="text" ng-model="target.db_port" class="form-control" required/>
							<span ng-show="myForm.db_port.$invalid && myForm.db_port.$touched">field required</span><br>
						</div>
					</div>
				</div> <!--Target db div completes-->
				<div class="col-md-1" >
				</div>
				<div class="col-md-5" >	<!--src db div starts-->
					<div class="row">
						<legend class="col-form-legend col-3">Source Database Configuration </legend>
					</div>
					<div class="row">
						<div class="col-md-3 text-right">
							User Name
						</div>
						<div class="col-md-9">
							<input type="text" ng-model="SourceDB.db_user_name" class="form-control" /><br>
						</div>
					</div>
					<div class="row">
						<div class="col-md-3 text-right">
							Password
						</div>
						<div class="col-md-9">
							<input type="password" ng-model="SourceDB.db_password" class="form-control"/><br>
						</div>
					</div>
					<div class="row">
						<div class="col-md-3 text-right">
							Name
						</div>
						<div class="col-md-9">
							<input type="text" ng-model="SourceDB.db_name" class="form-control" /><br>
						</div>
					</div>
					<div class ="row">
						<div class="col-md-3 text-right">
							Host Name 
						</div>
						<div class="col-md-9">
							<input type="text" ng-model="SourceDB.db_hostname" class="form-control"/><br>
						</div>
					</div>
					<div class="row">
						<div class="col-md-3 text-right">
							Port 
						</div>
						<div class="col-md-9">
							<input type="text" ng-model="SourceDB.db_port" class="form-control"/><br>
						</div>
					</div>
				</div>	<!--src db div completes-->
			</div>
		</div>
		<br/><br/>
		
		<div class="well" ng-repeat="fieldGroup in fieldGroups">
			<div class="row" style="border-bottom: 1px solid #CCC;">
				<div class="col-md-3" style="font-size: 18px;">
					<button type="button" name="btn_add_table" class="btn btn-primary" id="btnAddForm" ng-click="minimizeFieldGroup($index)">{{fieldGroup.minimized?"+":"-"}}</button>
					Import Table Information
				</div>
				<div class="col-md-7" style="font-size: 20px; color: #5C5CFF;" >
					{{fieldGroup.intermediate_tableName}} :: {{fieldGroup.core_tableName}}
				</div>
				<div class="col-md-2 text-right">
					<button type="button" name="btn_add_table" class="btn btn-primary" ng-class="" id="btnAddForm" ng-click="inactivateFieldGroup($index)">{{fieldGroup.disabled?"Activate":"Inactivate"}}</button>
					<button type="button" name="btn_add_table" class="btn btn-primary" id="btnAddForm" ng-click="addFieldGroup()">Add</button><br>
				</div>
			</div>
			<div class="row" ><br/></div>
			
			<div ng-hide="fieldGroup.disabled || fieldGroup.minimized">
				<div class="row">
					<div class="col-md-3 ">
						<label>Intermediate TableName *</label>
						<input type="text" ng-model="fieldGroup.intermediate_tableName" class="form-control" required />
						<span ng-show="myForm.intermediate_tableName.$invalid && myForm.intermediate_tableName.$touched">field required</span>
						<input type="text" ng-model="fieldGroup.intermediate_tableColumns" class="form-control" placeholder="(columns)" />
						<br><br>
					</div>
					<div class="col-md-3">
						<label>Truncate (Intermediate Table) *</label><br/>
						<select ng-model="fieldGroup.truncate_intermediate_table" class="form-control" >
							<option value="TRUNCATE" >Truncate</option>
							<option value="TRUNCATE_RESET" >Truncate; Reset Identity</option>
							<option value="" >Do nothing</option>
						</select>
					</div>
					<div class="col-md-3">
						<label>Core TableName *</label>
						<input type="text" ng-model="fieldGroup.core_tableName" class="form-control" required >
						<span ng-show="myForm.core_table_name.$invalid && myForm.core_table_name.$touched">field required</span><br><br>
					</div>
					<div class="col-md-3">
						<label>Truncate (Core Table) *</label><br/>
						<select ng-model="fieldGroup.truncate_core_table" class="form-control" >
							<option value="TRUNCATE" >Truncate</option>
							<option value="TRUNCATE_RESET" >Truncate; Reset Identity</option>
							<option value="" >Do nothing</option>
						</select>
					</div>
				</div>
				<div class="row">
					<!-- **WIP** div class="col-md-3">
						<label>Source</label><br/>
						<input type="radio" ng-model="fieldGroup.is_csv_mode" value="," >True
						<input type="radio" ng-model="fieldGroup.is_csv_mode" value="\b" >False
					</div>
					<div class="col-md-3">
						<label>Source</label><br/>
						<input type="radio" ng-model="fieldGroup.is_db_mode" value="," >True
						<input type="radio" ng-model="fieldGroup.is_db_mode" value="\b" >false
					</div -->
					<div class="col-md-3">
						<label>File Path *</label><br/>
						<input type="text" ng-model="fieldGroup.csv_mode.filePath" class="form-control" required />
						<span ng-show="myForm.file_path.$invalid && myForm.file_path.$touched">field required</span><br><br>
					</div>
					<div class="col-md-3">
						<label>Delimiter</label><br/>
						<input type="text" ng-model="fieldGroup.csv_mode.delimiter" class="form-control" required />
					</div>
					<div class="col-md-3">
						<label>Has Header</label><br/>
						<input type="radio" ng-model="fieldGroup.csv_mode.has_header" ng-value="true" />True
						<input type="radio" ng-model="fieldGroup.csv_mode.has_header" ng-value="false" />False
					</div>
					<div class="col-md-3">
						<label>Null String</label><br/>
						<input type="radio" ng-model="fieldGroup.csv_mode.null_value" value="NULL" />NULL
						<input type="radio" ng-model="fieldGroup.csv_mode.null_value" value="BS-N" />\N
						<input type="radio" ng-model="fieldGroup.csv_mode.null_value" value="BLANK" />Blank
					</div>
				</div>
				<br />
				<div class="row">
					<div class="col-md-3 "></div>
					<div class="col-md-6 " style="border-bottom: 1px solid #CCC;">
						<div class="col-md-6 ">
							Column Mapping:
						</div>
						<div class="col-md-6 text-right">
							<button type="button" name="btn_add_column" class="btn btn-primary" ng-click="addMapping($index)">+</button><br/>
						</div>
					</div>
					<div class="col-md-3 "></div>
				</div>
				<div class="row"> <!--tr1 tag -->
					<div class="col-md-3 "></div>
					<div class="col-md-6 ">
						<div class="col-md-6" style="text-align: center"><label>To *</label></div>
						<div class="col-md-6" style="text-align: center"><label>From *</label></div>
						<!-- div class="col-md-2"><label>Import_Query</label></div -->
					</div>
					<div class="col-md-3 "></div>
				</div>
				<div class="row" style="padding-bottom: 3px;" ng-repeat="colMap in fieldGroup.column_mapping" >
					<div class="col-md-3 "></div>
					<div class="col-md-7 ">
						<div class="col-md-5">
							<input type="text" ng-model="colMap.to" class="form-control" required />
							<!-- span ng-show="myForm.to.$invalid && myForm.to.$touched">field required</span -->
						</div>
						<div class="col-md-5">
							<input type="text" ng-model="colMap.from" class="form-control" required />
							<!-- span ng-show="myForm.from.$invalid && myForm.from.$touched">field required</span -->
						</div>
						<!-- div class="col-md-2">
							<input type="text" ng-model="colMap.import_query" class="form-control"><br>
						</div -->
						<div class="col-md-2">
							<button type="button" class="btn btn-primary" ng-click="removeMapping($parent.$index, $index)" ng-show="(colMap.from == undefined || colMap.from == '' ) && (colMap.to == undefined || colMap.to == '')">x</button>
						</div>
					</div>
					<div class="col-md-2 "></div>
				</div>
				<div class="row">
					<div class="col-md-12" >
						<label>Post Operation Queries</label>
							<div class="row" style="padding-bottom: 3px;" ng-repeat="post_operation in fieldGroup.post_operations track by $index" >
								<div class="col-md-12" style="margin-bottom: 3px;" >
									<textarea class="form-control" style="width: 100%; height: 100px;" ng-model="fieldGroup.post_operations[$index]" autogrow ></textarea>
								</div>
							</div>
					</div>
				</div>
			</div> <!--Import Field-group closed-->
		</div>
		<br/><br/>
		
		<div class="row" >
			<div class="col-md-12" align="center" >
				<input type="submit" class="btn btn-primary" style="width: 25%;" value="Submit" ng-click="submitForm()">
			</div>
		</div>
		
		<br/><br/>
		
	</form>
	</div>
</body>
</html>
